{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>Men's Black Hoodie</h1>
<div class="row">
    <div class="col-md-8">
        <img src="/static/images/product1.jpg" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the product:</h5>
        <p>80% cotton / 20% polyester 
            Stitched slit inside kangaroo-style pocket and a small loop inside the hood for headphone usage
            Reinforced cuffs and waist
            Combed-cotton exterior, fuzzy fleece interior
            Imported garment, processed and printed in Saudi Arabia, Muzzahmiyah</p>
        <br>
        <h5>Price: 200SR</h5>
    </div>
</div>
{% endblock %}