{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>Men's Orange Hoodie</h1>
<div class="row">
    <div class="col-md-8">
        <img src="/static/images/product2.jpg" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the product:</h5>
        <p>50% cotton/50% polyester | Fabric Weight: 7.8 oz (midweight)
            Ribbed cuffs and waist hem
            Adjustable drawstring hood
            Imported; processed and printed in Saudi Arabia, Muzzahmiyah</p>
        <br>
        <h5>Price: 200SR </h5>
    </div>
</div>
{% endblock %}